*{
  margin:0;
  padding:0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.head{
  display:flex;
  padding:15px;
  height:80px;
}
.head::after{
  content: "";
  background-image: url('../pics/nav-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height:80px;
  z-index: -1;
  opacity: 0.85;
  filter:blur(1.5px)
}
button{
  outline:none;
  cursor: pointer;
}

  #clg{
    color:blue;
  }
  #clg a{
    text-decoration: none;
    }
  #cred{
    display:flex;
    float:right;
    margin-right: 40px;
  }
  
  #bt-off{
    color:red;
    background-color: lightgrey;
    padding:5px;
    width:30px;
    height:30px;
    border-radius: 50px;
    position:relative;
    left:10px;
    border:none;
  }
  .head h2:hover{
    text-decoration: none;
  }
  .head h1{
    flex:2;
    text-align: center;
    color:black;
  }
  #bt-off:hover{
    cursor: pointer;
  }
  #nav{
    line-height: 10mm;
    width:40px;
    margin-left: 20px;
    margin-top: 20px;
    visibility: hidden; 
    position: relative;
    z-index:3;
  }
  #bt-icons{
    border:none;
    font-size: 8mm;
  }
  .prev-pap,.mock-test,.grade-pred,.counsel,.video-lec,.doubt{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
  }
  i{
    cursor: pointer;
    margin-left:4px;
  }
  #bt-off i{
    position:relative;
    right:2px;
  }
  .ddl1,.ddl2,.ddl6{
    width:400px;
    line-height: 6mm;
    position: relative;
    bottom:5px;
    left:15px;
    padding:15px;
    display:none;
    color: white;
    border-radius: 10px;        
    background-image: url('../pics/spot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ddl1 li,.ddl2 li,.ddl6 li{
    list-style: none;
    border-bottom:2px solid black;
    border-right:2px solid black;
    margin-bottom: 8px;
    font-size: 6mm;
    color:white;
  }
  .ddl1 li:hover,.ddl2 li:hover,.ddl6 li:hover{
    transform: scale(1.07);
  }
  a{
    text-decoration: none;
    color:black;
  }
  .prev-pap:hover +.ddl1,
  .mock-test:hover+.ddl2,
  .grade-pred:hover+.ddl3,
  .counsel:hover+.ddl4,
  .doubt:hover+.ddl5,
  .video-lec:hover+.ddl6,
  .ddl1:hover,
  .ddl2:hover,
  .ddl3:hover,
  .ddl4:hover,
  .ddl5:hover,
  .ddl6:hover{
    display:block;
  }
  .ddl3,.ddl4,.ddl5{
    width:430px;
    line-height: 5mm;
    padding:8px;
    display: none;
    position:relative;
    bottom:15px;
    color:white;
    border-radius: 10px;
    background-image: url('../pics/spot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ddl3 h3,.ddl4 h3,.ddl5 h3{
    margin-bottom: 8px;
    border-bottom: black solid 2px;
    border-right: black solid 2px;
    width:230px;
  }
  .ddl3 button,.ddl4 button,.ddl5 button{
    padding:5px;
    margin-top: 8px;
    border-radius: 6px;
    cursor: pointer;
    background-image: url('../pics/images.jpg');
  }
  .ddl1{
    position: relative;
    left:40px;
    bottom:70px;
  }
  .ddl2{
    position: relative;
    bottom:100px;
    left:40px;
  }
  .ddl4{
    width:320px;
  }
  .ddl6{
    position:relative;
    bottom:300px;
    left:40px;
  }
  #log{
    border-radius: 5px;
    border:black solid 2px;
    position:relative;
    left:50px;
    padding:10px;
    background-color: cornsilk;
    height:50px;
    display:none;
    z-index:1;
  }
  #bt-log{
    position:relative;
    left:40px;
    top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding:3.5px;
    color:red;
    cursor:pointer;
  }
  .cards{
    display:grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top:30%;
    left:4.5%;
    margin-left:25px;
  }
  .item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9{
    width:350px;
    height:420px;
    border:1px solid white;
    margin:10px;
    margin-right: 30px;
    background-color:transparent;
    perspective: 1000px;
    border-radius: 100px;
    box-shadow: white 3.5px 3.5px 3.5px 3.5px;
    padding:7px;
  }
  .inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  }
  .item1:hover .inner,
  .item2:hover .inner,
  .item3:hover .inner,
  .item4:hover .inner,
  .item5:hover .inner,
  .item6:hover .inner,
  .item7:hover .inner,
  .item8:hover .inner,
  .item9:hover .inner{
    transform:rotateY(180deg);
  }
  .show , .back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    background-color: #bab2b5;
    backface-visibility: hidden;
  }
  .back{
    transform:rotateY(180deg);
    padding:6px;
    position: relative;
    bottom:25px;
    padding-top:15px;
    height:102%;
  }

  .cards img{
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 50%;
  }
  .btn{
    padding:20px;
  }
  body{
    background: beige;
  }
  #bt-app,#bt-msg{
    margin-right: 20px;
    margin-top:20px;
    padding:5px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    background-image: url('../pics/spot.jpg');
    color:white;
  }
  #form1,#form2{
    background-color: whitesmoke;
    width:370px;
    height:480px;
    padding:10px;
    line-height: 8mm;
    position: absolute;
    top:20%;
    bottom:1650px;
    left:500px;
    border:5px groove gray;
    display: none;
  }
  #form1 input,#msg1,#form2 input,#msg2{
    width:250px;
    border-radius: 5px;
  }
  #msg1,#msg2{
    height:70px;
    width:275px;
  }
  #form1 input,#form2 input{
    height:30px;
  }
  #bt-set{
    padding:5px;
    border-radius: 6px;
    margin-top:15px;
    color:white;
    background-image: url('../pics/spot.jpg');
  }
  #cut{
    position: relative;
    left:300px;
  }
  .extra{
    color:black;
    position: absolute;
    top:250%;
    left:6%;
    width:530px;
    margin-bottom: 20px;
    
  }
  .extra a{
    text-decoration: none;
    color:red;
  }

  footer {
    position:absolute;
    top:260%;
    width:100%;
    }
    
    .new_footer_area {
    background: beige;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    
    .new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
    }
    .new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
    }
    .footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
    }
    .new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
    }
    .new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
    }
    .btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
    }
    .btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
    a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
    }
    
    
    
    .new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
    }
    .new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
    color:white;
    }
    .f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
    }
    .f_widget.about-widget .f_list li {
    margin-bottom: 15px;
    }
    .f_widget.about-widget .f_list {
    margin-bottom: 0px;
    }
    .new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
    }
    .f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }
    .ti-facebook:before {
    content: "\e741";
    }
    .ti-twitter-alt:before {
    content: "\e74b";
    }
    .ti-vimeo-alt:before {
    content: "\e74a";
    }
    .ti-pinterest:before {
    content: "\e731";
    }
    
    .btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
    }
    
    .btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
    }
    
    .new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color:white;
    }
    .new_footer_top .f_social_icon a + a {
    margin-left: 4px;
    }
    .new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
    }
    .f_600 {
    font-weight: 600;
    }
    .f_size_18 {
    font-size: 18px;
    }
    h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
    }
    .new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
    }
    
    
    .new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
    }
    
    .new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
    }
    
    .new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
    }
    
    
    
    @-moz-keyframes myfirst {
    0% {
    left: -25%;
    }
    100% {
    left: 100%;
    }
    }
    
    @-webkit-keyframes myfirst {
    0% {
    left: -25%;
    }
    100% {
    left: 100%;
    }
    }
    
    @keyframes myfirst {
    0% {
    left: -25%;
    }
    100% {
    left: 100%;
    }
    }

    #credential{
    font-size: 6mm;
    font-weight: bold;
    }